<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-bullseye"></i>
        <p>
            Products
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right">@TempData["AllProductsCount"]</span>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Product/CategoryProducts" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Category of Products</p>
            </a>
        </li>
    </ul>
</li>
